@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,200,400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai');

/* general classes */

body {
	margin: 0;
	background: url(../img/background.jpg);
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "Open Sans", sans-serif;
	overflow-x: hidden;
}
button, input, textarea {
	font-family: "Open Sans", sans-serif;
}
* {
  box-sizing: border-box; 
}

*:focus {
	outline: 1px solid #A0D53C;
}
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
/* grid*/

/*clearfix*/
.row:before,
.row:after {
  	content: "";
  	display: table;
  	clear: both; 
}

[class*="col-"] {
  	float: left;
  	min-height: 1px;
  	padding: 5px; 
}
.col-1 {
  	width: 8.33%; 
}
.col-2 {
  	width: 16.66%; 
}
.col-3 {
  	width: 25%; 
}
.col-4 {
  	width: 33.33%; 
}
.col-5 {
  	width: 41.66%; 
}
.col-6 {
  	width: 50%; 
}
.col-7 {
  	width: 58.33%; 
}
.col-8 {
  	width: 66.66%; 
}
.col-9 {
  	width: 75%; 
}
.col-10 {
  	width: 83.33%; 
}
.col-11 {
  	width: 91.66%; 
}
.col-12 {
  	width: 100%; 
}



/* brand 1 */
.brand-row {
	display: flex;
	justify-content: center;
}
.brand-1 {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}
.shadow-1-img {
	box-shadow: -2px -2px 1px rgba(0, 0, 0, 0.3);
	border-radius: 50%;
	width: 120px;
	height: 120px;
	margin-right: 5px;
	margin-left: 40px;
}
.brand-1-img {
	width: 120px;
	height: 120px;
	opacity: 0.3;
	filter: drop-shadow(-1px -2px 1px #000);	
}
.brand-1-text {
	margin-left: 20px;
	font-family: "Baloo Bhai", sans-serif;
	line-height: 40px;
	
}
.brand-1-text-head {
	font-size: 60px;
	margin: 0;
	letter-spacing: 2px;
	color: rgba(206, 15, 7, 0.6);	
	text-shadow: -1px -2px 1px rgba(0, 0, 0, 0.5);
	
}
.brand-1-text-p {
	margin: 0;
	font-size: 30px;
	line-height: 18px;
	color: #A40605;
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.5);
}
.adress-1-sm {
	margin: 0;
	font-size: 10px;
	line-height: 10px;
	color: #960706;
}




/* cols */

.first-col {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.second-col {
	margin-top: 5px;
}




/* form heads */

[class*="form-head"] {
	font-size: 30px;
	color: #fff;
	font-weight: 400;
	text-align: center;
	width: 420px; 
	text-shadow: 1px 2px 2px #000;
	margin-bottom: 12px;
}
.form-head-lg {
	margin-right: 32.5px;
	margin-top: 32px;
}
.form-head-md,
.form-head-sm {
	margin-left: 32.5px;
	margin-top: 30px;
}




/* forms */

[class*="form-box"] {
	background-color: #fff;
	border-radius: 5px;
	padding: 5px 20px 25px;
}
.form-shadow-xl {
	position: relative;
	width: 420px;
	height: 535px;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 5px;	
	margin-right: 32.5px;
}
.form-box-xl {
	width: 380px;
	height: 495px;
	position: absolute;
	bottom: 20px;
	left: 20px;
}
.form-shadow-lg {
	position: relative;
	width: 420px;
	height: 458px;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 5px;	
	margin-right: 32.5px;
}
.form-box-lg {
	width: 380px;
	height: 418px;
	position: absolute;
	bottom: 20px;
	left: 20px;
}
.form-shadow-md {
	width: 420px;
	height: 255px;
	background-color: rgba(0, 0, 0, 0.2);
	position: relative;
	border-radius: 5px;	
	margin-left: 32.5px;
}
.form-box-md {
	width: 380px;
	height: 215px;
	bottom: 20px;
	left: 20px;
	position: absolute;
	padding-top: 10px;
}
.form-shadow-sm {
	width: 420px;
	height: 195px;
	background-color: rgba(0, 0, 0, 0.2);
	position: relative;
	border-radius: 5px;	
	margin-left: 32.5px;
}
.form-box-sm {
	width: 380px;
	height: 155px;
	position: absolute;
	bottom: 20px;
	left: 20px;
	padding-top: 10px;
}



/* inputs */

.input-border {
	width: 340px;
	height: 40px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 20px 0 10px;
	display: flex;
	align-items: center;	
}
.input-content:focus {
	outline: none;
}
.active {
	border: 2px solid #A0D53C; 
}
.input-border:hover {
	border-color: #A0D53C;
}
.input-border .input-img {
	font-size: 22px;
	width: 25px;
	text-align: center;
	margin: 0 15px 0 15px;
	color: #DEDCDC;
}
.input-line:after {
	content: "";
	border: 1px solid #DEDCDC;
	opacity: 0.7;
}
.input-content {
	border: none;
	margin-right: 10px;
	margin-left: 15px;
	font-size: 16px;
	opacity: 0.8;
	font-family: "Open Sans", sans-serif;
	width: 80%;
}
.email-text {
	width: 340px;
	height: 230px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 8px;
	margin-top: 10px;
	padding: 10px 15px;
	font-size: 16px;
}
.email-text:focus {
	outline-color: #A0D53C; 
}




/* checkboxes */

.sign-in-checkbox {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
}
.sign-in-checkbox .checkbox {
	margin-bottom: 0;
}
.checkbox {
	display: inline-flex;
	align-items: center;
	margin-bottom: 10px;
}
[id*="checkbox-button"] {
	display: none;
}
#checkbox-button-1:not(:checked) ~.btn-checkbox-1:after {
	display: none;
}
#checkbox-button-1:checked ~.btn-checkbox-1:after {
	display: inline-block;
}
#checkbox-button-2:not(:checked) ~.btn-checkbox-2:after {
	display: none;
}
#checkbox-button-2:checked ~.btn-checkbox-2:after {
	display: inline-block;
}
#checkbox-button-3:not(:checked) ~.btn-checkbox-3:after {
	display: none;
}
#checkbox-button-3:checked ~.btn-checkbox-3:after {
	display: inline-block;
}
[class*="btn-checkbox"] {
	width: 25px;
	height: 25px;
	padding: 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	position: relative;
	cursor: pointer;	
}
[class*="btn-checkbox"]:after {
	content: "";
	width: 12px;
	height: 12px;
	border: none;
	padding: 0;
	margin: 0;
	background: linear-gradient(#A0D53C,#81C520);
	position: absolute;
	bottom: 5.5px;
	left: 5.5px;
	border-radius: 3px;
	display: none;
}
.checkbox-p {
	display: inline-block;
	margin: 0 0 0 15px;
	color: #a2a0a0;
}




/* buttons */

.btn {
	border-radius: 5px;
	border: 1px solid #3B9A00;
	color: #fff;
	text-shadow: 1px 1px 2px #243c15;
	cursor: pointer;
	transition: .4s;
}
.btn:hover {
	background: linear-gradient(#81C520,#3B9A00);
}
.btn-lg {
	width: 340px;
	height: 50px;
	background: linear-gradient(#A0D53C,#81C520);
	font-size: 22px;
}
.btn-group {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}
[class*="btn-sm"] {
	width: 140px;
	height: 40px;
	font-size: 18px;
	background: linear-gradient(#A0D53C,#81C520);
}
.btn-sm-1 {
	font-size: 22px;
}
.btn-sm-light {
	background: linear-gradient(#C6DFA5,#ACD184);
	border-color: #8FCA6C;
}
.btn-sm-light:hover {
	background: linear-gradient(#ACD184,#87BF65);
}
.btn-sm-red {
	border-color: #A2202A;
	background: linear-gradient(#F45B6D,#F13848);
	text-shadow: 1px 2px 2px #4a080d;
}
.btn-sm-red:hover {
	background: linear-gradient(#F13848,#A2202A);
}




/* brand 2 */

.brand-2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	margin-top: 30px;
	width: 420px;
	margin: 50px 35px 50px;
}
.brand-contain {
	display: flex;
	align-items: flex-end;
}
.shadow-2-img {
	box-shadow: -2px -2px 1px rgba(0, 0, 0, 0.4);
	border-radius: 50%;
	width: 80px;
	height: 80px;
	margin-right: 15px;
}
.brand-2-img {
	width: 80px;
	height: 80px;
	opacity: 0.2;
	filter: drop-shadow(-1px -2px #000);
}
.brand-2-text {
	font-family: "Baloo Bhai", sans-serif;
	line-height: 40px;
}
.brand-2-text-head {
	font-size: 50px;
	margin: 0;
	letter-spacing: 2px;
	color: rgba(0, 0, 0, 0.2);
}
.brand-2-text-p {
	margin: 0;
	font-size: 25px;
	line-height: 15px;
	color: rgba(0, 0, 0, 0.2);
	
}
.adress-2-sm {
	margin: 0;
	font-size: 8.5px;
	line-height: 10px;
	color: rgba(0, 0, 0, 0.2);
}
.adress-lg {
	font-size: 30px;
	color: rgba(0, 0, 0, 0.3);
	font-family: "Baloo Bhai", sans-serif;
	margin: 20px 0 0;
	font-weight: normal;
}




/* media quaries */

@media (max-width: 767px) {
	
	/* grid */
	.col-sm-12 {
		width: 100%;
	}




	/* brand 1 */

	.brand-1 {
		width: 350px;
		margin: 50px 5px 0;
	}
	.shadow-1-img,
	.brand-1-img {
		width: 90px;
		height: 90px;
		margin: 0;
	}
	.brand-1-text {
		margin-left: 8px;
	}
	.brand-1-text-head {
		font-size: 40px;
	}
	.brand-1-text-p {
		font-size: 20px;
		line-height: 5px;
	}
	.adress-1-sm {
		font-size: 6.5px;
		line-height: 15px;
	}




	/* cols */

	.first-col,
	.second-col {
		align-items: center;
	}
	.second-col {
		display: flex;
		flex-direction: column;
		margin-top: 0;
		padding-top: 0;
	}




	/* form heads */

	[class*="form-head"] {
		width: 300px;
		margin: 32px 0 12px;
	}




	/* forms */

	[class*="form-shadow"] {
		margin-left: 0;
		margin-right: 0;
		width: 310px;
	}
	[class*="form-box"] {
		width: 270px;
	}



	/* inputs */

	.input-border {
		width: 230px;
	}
	.input-content {
		font-size: 14px;
	}
	.email-text {
		width: 230px;
		font-size: 14px;
	}




	/* checkboxes */

	[class*="btn-checkbox"] {
		width: 20px;
		height: 20px;
	}
	[class*="btn-checkbox"]:after {
		width: 10px;
		height: 10px;
		bottom: 4px;
		left: 4px;
	}
	.checkbox-p {
		font-size: 10px;
		color: #000;
		margin-left: 10px;
	}



	/* buttons */

	.btn {
		font-size: 15px;
	}
	
	.btn-lg {
		width: 230px;
		font-size: 18px;
	}
	[class*="btn-sm"] {
		width: 100px;
	}
	.btn-sm-1 {
		font-size: 18px;
	}




	/* brand 2 */

	.brand-2 {
		margin: 50px 5px;
		width: 300px;
	}
	.shadow-2-img,
	.brand-2-img {
		width: 70px;
		height: 70px;
	}
	.brand-2-text-head {
		font-size: 35px;
		line-height: 36px;
	}
	.brand-2-text-p {
		font-size: 18px;
		line-height: 5px;
	}
	.adress-2-sm {
		font-size: 6px;
		line-height: 13px;
	}
	.adress-lg {
		text-align: center;
		font-size: 23px;
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	
	/* grid */

	.col-md-12 {
		width: 100%;
	}




	/* brand 1 */

	.shadow-1-img {
		margin-left: 5px;
	}



	/* cols */

	.first-col {
		align-items: center;
	}
	.second-col {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 0;
		padding-top: 0;
	}




	/* form heads */

	[class*="form-head"] {
		margin-left: 0;
		margin-right: 0;
		width: 440px;
		
	}



	/* forms */

	[class*="form-shadow"] {
		margin-left: 0;
		margin-right: 0;
		width: 440px;		
	}
	[class*="form-box"] {
		width: 400px;
	}
	.form-shadow-xl {
		height: 555px;
	}
	.form-box-xl {
		height: 515px;
	}
	.form-shadow-lg {
		height: 478px;
	}
	.form-box-lg {
		height: 438px;
	}
	.form-shadow-md {
		height: 275px;
	}
	.form-box-md {
		height: 235px;
	}
	.form-shadow-sm {
		height: 215px;
	}
	.form-box-sm {
		height: 175px;
	}




	/* inputs */

	.input-border {
		width: 360px;
		height: 42px;
	}
	.input-content {
		font-size: 19px;
	}
	.email-text {
		width: 360px;
		font-size: 19px;
	}





	/* checkboxes */

	.checkbox-p {
		font-size: 17px;
	}




	/* buttons */

	.btn-lg {
		width: 360px;
		font-size: 24px;
	}
	[class*="btn-sm"] {
		width: 160px;
		font-size: 20px;
		height: 45px;
	}
	.btn-sm-1 {
		font-size: 24px;
	}
}